extends layout

block content

  div.container
  
    h1 
      | Welcome to CivicSpaces
      small a way to connect active citizens to unused spaces in their city.

    div.row

      div.col-md-6
        div.promo
          h5 Looking for a space for your next meeting or exhibition?
          a.btn.btn-primary.btn-lg.active(href="/find" role="button") Find a space

      div.col-md-6
        div.promo
          h5 Want to list your unused space in our directory?
          a.btn.btn-primary.btn-lg.active(href="/space/create" role="button") List a space

    
    h3 Find a space to grow your idea or event!

    p Community groups can search for and connect with empty offices, storefronts or even vacant lots and fill them with their events and activities. Spaces range from free to medium in cost and vary in neighborhood, size and functionality. We hope you find a space to grow your idea or event!


    h2.home About CivicSpaces

    div.row
      div.col-md-8
        p CivicSpaces is a site to help active citizens, artists and nonprofits find unused spaces to host their events and display their creative work. We serve as a conduit, connecting owners of empty spaces with people who want to fill them for a short-term project, event or activity. 

        p Building owners who have vacant storefronts, office space or even empty lots can offer their space through CivicSpaces to attract artists and nonprofits to fill them with life for a short period of time. There are many studies showing that active spaces are more attractive and easier to rent than empty ones. Having active offices and storefronts can lead to more foot traffic, increasing an areas visibility and reducing crime. 

        p We want to keep our city vibrant, one empty space at a time. 

      div.col-md-4
        figure
          img(src="/assets/img/vhs-art.jpg" alt="Art Installation in Midtown")
          figcaption Art Installation in Midtown


    h2.home Citizens

    div.row
      div.col-md-8
        p Individuals and organizations like you constantly need space to grow ideas. Office space to work in. Event space for fundraisers. A vacant lot to grow food on.  CivicSpaces can pair you with empty properties around Atlanta. We allow you to find properties that fit your needs- location, size and use- and best of all that fit your budget. Our participating spaces are primarily free although some costs and deposits may be required. Search our database, find a property that matches your needs and connect! 

        h3 Who Qualifies?
        p This really depends on the space. Most of our spaces and events welcome anyone with a good idea to fill a vacant storefront, office or empty lot. This can mean artists, community organizations or any citizen who has a vested interest in making Atlanta’s vacant spaces look more appealing. Some spaces may only allow organizations or people affiliated with an official 501c3 IRS designated group use their space. There are many reasons for this but a major one may be the wish of the hosting space to receive a tax deduction in exchange for space use.  

        p We are happy to work with anyone who wishes to fill a vacant space and can help you find the right location for your idea. In addition we can provide sound consulting services to help your organization decide on the type and even design of your event or project. Not sure how your organization can use an empty space or benefit from our programs? Contact us and we will be glad to speak with you about it.

        h3 What events and activities do you promote? 
        p CivicSpaces encourages groups and active citizens to fill our city’s vacant spaces with creative events and displays. This includes:

        ul.list-group
          li.list-group-item gallery-style installations 
          li.list-group-item sculptures
          li.list-group-item human interest displays (like informative displays around local or regional issues, nonprofit sponsored art or photography displays, graphics or charts informing citizens)
          li.list-group-item non-permanent gardens/farms 
          li.list-group-item fundraising events 
          li.list-group-item informative events 
          li.list-group-item limited-time office or meeting space
          li.list-group-item community gatherings
          li.list-group-item coordinated efforts of any of the above (events/groups looking to fill multiple spaces during a coordinated time- see our Sponsored Event section for details). 

        h3 What You Should Know
        p 
          | Currently CivicSpaces only provides you information about what spaces are willing to participate in a civic activity. We do not book spaces, arrange contracts or take on any responsibility for the space-to-citizen transaction. If you find a space and want to host an event or installation it is up to you to work out details with the space owner through the listed contact information on our site. We have provided a 
          a(href="/resources") list of resources and materials 
          |  to help you navigate hosting an event or activity in a vacant space. These materials are only meant to be helpful resources and are not a guarantee of a successful or incident-free space to citizen interaction. 

      div.col-md-4
        figure
          img(src="/assets/img/vhs-art.jpg" alt="Art Installation in Midtown")
          figcaption Art Installation in Midtown

    h2.home Spaces

    div.row
      div.col-md-8
        p Do you have an unused office, retail storefront or loft? How about a vacant lot? CivicSpaces can help you partner with community activists who can bring your space to life. Whether its a nonprofit needing temporary office space or an arts group looking for a pop-up gallery store front, CivicSpaces aims to fill your empty square feet with life. Not only could you receive tax benefits* but filling unused space with activity makes it instantly more desirable, resulting in the higher likelihood in a profitable lease or sale. 

        p *please consult your tax professional 

        h3 Who Qualifies? 
        p We accept any space that is in sound condition, meeting local structural and health standards, that is willing to host civic minded groups or individuals in the space for a limited time with little to no financial cost to the participating group or individual. We welcome empty storefronts, office buildings, lofts and vacant lots. Our listing page allows you to set the rules for potential users- what they can do in your space, what times they can be there and how long you are willing to host them. Additionally you may require interim leasees to provide a deposit or pay for utility costs, depending on your needs. 

        h3 What events and activities do you promote? 
        p CivicSpaces encourages groups and active citizens to fill our city’s vacant spaces with creative events and displays. The types of events and displays you or your company is comfortable with is up to you and the suitability of your space and business brand. We promote and attract the following types of activities:

        ul.list-group
          li.list-group-item gallery-style installations 
          li.list-group-item sculptures
          li.list-group-item human interest displays (like informative displays around local or regional issues, nonprofit sponsored art or photography displays, graphics or charts informing citizens)
          li.list-group-item non-permanent gardens/farms 
          li.list-group-item fundraising events 
          li.list-group-item informative events 
          li.list-group-item limited-time office or meeting space
          li.list-group-item community gatherings
          li.list-group-item coordinated efforts of any of the above (events/groups looking to fill multiple spaces during a coordinated time- see our Sponsored Event section for details). 

        h3 What You Should Know
        p Currently CivicSpaces only provides you information about what spaces are willing to participate in a civic activity. We do not book spaces, arrange contracts or take on any responsibility for the space-to-citizen transaction. Please consult a legal professional should you have any concerns. By posting on our site you agree to our terms and conditions and acknowledge that your contact information will be available on the site until you remove it. We have provided a list of resources and materials to help you navigate hosting an event or activity in a vacant space. These materials are only meant to be helpful resources and are not a guarantee of a successful or incident free space-to-citizen interaction.