extends layout

block title
  title #{sitetitle} | Login


block content
  
  div.container

    h1 Log In

    div.row
      div.col-md-5
        
        form(method="POST" action="/login" enctype='application/x-www-form-urlencoded')

          if invalid
            div.alert.alert-danger Please enter a valid email address and password.

          label
            | Email:
            input.form-control(type="text" name="email") 

          label
            | Password:
            input.form-control(type="password" name="pass")

          input.btn.btn-primary.drop(type="submit" name="submit" value="Log In") 

        a(href="/lost-password") Forgot your password?
