extends ../layout

block title
  title #{sitetitle} | Resources


block content
  
  div.container

    h1 Resources

    ul
      li 
        a(href="http://www.pbpatl.org/wp-content/uploads/2013/03/Special-Events-Website-Article-2013.pdf") Special Event Permits  
      li
        a(href="http://www.pbpatl.org/wp-content/uploads/2013/02/AlcoholPermit1-Rev-.pdf") Alcohol Permit Requirements 
      li Nonprofit Liability Insurance
      li Sample Lease Agreement
      li Fire/Health/Safety Codes

