extends ../layout

block title
  title #{sitetitle} | Find Spaces Using a Map

block content

  div.container
  
    h1 Available Spaces

    div#googlemap(style="height:400px")

    div#mapresults.row
    

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src="/assets/js/cs.map.js")
  script(src="/assets/js/space.map.js")