extends ../layout

block title
  title #{sitetitle} | Password Change Results

block content

  div.container

    h1 Password Change Results

    if err
      div.well.well-danger
        p= err

    if success
      p Your password was updated successfully.

      a.btn.btn-primary(href="/login") Login now.